@import url(http://fonts.googleapis.com/css?family=Snippet);
body {
	font-family: 'Snippet', sans-serif;
	width: 90%;
	background-color: #deb39d;
}

nav a {
	background-color: #bba25f;
	display: block;
	width: 100%;
	margin: 10px;
	padding: 5px;
	color: white;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	font-size: 20px;

}
nav a:hover {
	background-color: #68372a;
}
nav a:active {
	background-color: #dc5b31;
}